<div class="edit">
  <div class="shader-preview">
    <ShaderPreview @source={{this.source}} />
    <div class="ui segment">
      <div class="ui large input shadertitle">
        <Input @type="text" @value={{this.model.title}} placeholder="Title" />
      </div>
      <h3 class="ui header">Description</h3>
      <Textarea rows="10" class="shaderdescription" @value={{this.model.description}} />
      <button type="submit" class="ui teal labeled icon button" {{on 'click' (action "publish" )}}><i
          class="send icon"></i> {{#if
        isNew}}Publish{{else}}Update{{/if}}</button>
      {{#unless isNew}}
      <button type="button" class="ui yellow labeled icon button" {{on 'click' (action "activate" )}}><i
          class="announcement icon"></i> Activate</button>
      {{/unless}}
    </div>
  </div>
  <ShaderEditor @shader={{this.model}} @class="ui segment shader-editor" @compile={{action "compile" }} />
</div>