<div autofocus='autofocus' class='joypad' tabindex="1" {{on 'keydown' (action 'keydown' )}} {{on 'keyup' (action 'keyup'
    )}} {{did-insert this.didInsert}} {{will-destroy this.willDestroy}}>
    <div class="ui icon button emu-up" {{on 'mousedown' (action 'mousedown' 'up' ) }} {{on 'mouseup'
        (action 'mouseup' 'up' ) }}>
        <i class="arrow alternate circle up icon"></i>
    </div>
    <div class="ui icon button emu-down" {{on 'mousedown' (action 'mousedown' 'down' ) }} {{on 'mouseup'
        (action 'mouseup' 'down' ) }}>
        <i class="arrow alternate circle down icon"></i>
    </div>
    <div class="ui icon button emu-left" {{on 'mousedown' (action 'mousedown' 'left' ) }} {{on 'mouseup'
        (action 'mouseup' 'left' ) }}>
        <i class="arrow alternate circle left icon"></i>
    </div>
    <div class="ui icon button emu-right" {{on 'mousedown' (action 'mousedown' 'right' ) }} {{on 'mouseup'
        (action 'mouseup' 'right' ) }}>
        <i class="arrow alternate circle right icon"></i>
    </div>
    <div class="ui button emu-a" {{on 'mousedown' (action 'mousedown' 'a' ) }} {{on 'mouseup' (action 'mouseup' 'a' )
        }}>A
    </div>
    <div class="ui button emu-b" {{on 'mousedown' (action 'mousedown' 'b' ) }} {{on 'mouseup' (action 'mouseup' 'b' )
        }}>B
    </div>
    <div class="ui button emu-start" {{on 'mousedown' (action 'mousedown' 'start' ) }} {{on 'mouseup'
        (action 'mouseup' 'start' ) }}>Start</div>
    <div class="ui button emu-select" {{on 'mousedown' (action 'mousedown' 'select' ) }} {{on 'mouseup'
        (action 'mouseup' 'select' ) }}>Select</div>
    <div class='notes'>Keyboard: <em>WASD</em> for direction, <em>K</em> is A, <em>L</em> is B, <em>Return</em> is Start
        and <em>Space</em> is Select. Click into
        this area to set keyboard focus.</div>
</div>